<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ALL" />
			<levelMax value="OFF" />
		</filter>
		<layout type="FIS.Risk.Core.Logging.Log4NetPatternLayout, FIS.Risk.Core.Logging.Log4Net">
			<conversionPattern value="%date %-5level - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4net>