<jerry-prefix-cm-page-layout headerTitle="Welcome to RUF!" headerDesc="FIS Responsive UI Framework"
    headerIcon="approval">

    <ng-container class="page-details">
        <ruf-card title="A RUF Card">
            <div class="ruf-card-content-margin">
                <p>
                    If you haven't done so already, go install
                    <a href="https://augury.angular.io/" target="_blank">Augury</a>.
                    It's a great tool for debugging and inspecting Angular applications.
                </p>
                <p>
                    Visit <a href="https://wiki.fnis.com/display/html/RUF+Documentation" target="_blank">RUF
                        documentation</a>
                    for more details.
                </p>
            </div>
        </ruf-card>

        <mat-card fisStyle>
            <mat-card-title>
                Example card
            </mat-card-title>
            <mat-card-content>
                <p>This example page is intended to provide a place for ensuring all layout combinations are styled
                    correctly</p>
                <br><br><br><br><br><br><br><br><br>
                <p>
                    Including coping with scroll bars correctly
                </p>
            </mat-card-content>
        </mat-card>

        <div fxLayout="row">
            <mat-card fxFlex fisStyle>
                <mat-card-title>
                    Horizontal Card
                </mat-card-title>
                <mat-card-content>
                    <p>Test dashboard mat cards</p>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex fisStyle>
                <mat-card-title>
                    Horizontal Card 2
                </mat-card-title>
                <mat-card-content>
                    <p>Test dashboard mat cards</p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>

</jerry-prefix-cm-page-layout>
